<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue"/>
        <!-- v-model 数据双向绑定 ，当input里面发生变化时候，data里面的数据也会发生变化，同理data里的数据发生变化，input框中也会变化-->
        <button v-on:click="handleBtnClick">提交</button>
        <ul>
            <!-- <li>第一课的内容</li>
            <li>第二课的内容</li> -->
            <li v-for="item in list">{{item}}</li>
            <!-- v-for帮助循环数据，循环list，把循环出的每一项放到item里 -->
        </ul>
    </div>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                list:[],
                inputValue:''
            },
            methods: {
                handleBtnClick: function(){
                    this.list.push(this.inputValue)
                    this.inputValue = ''
                }
            },
        })//我们并没有对dom操作，整个都是只对数据进行操作。
    </script>
</body>
</html>