<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- 数组做循环 -->
        <!-- <div v-for="(item,index) of list" :key="item.id">{{item.text}}-----{{index}}</div> -->
        
        <!-- 不想在出现一个div包裹元素，就可以用template模板占位符，它不会被渲染大哦页面上。 -->
        <!-- <template v-for="(item,index) of list" :key="item.id">
            <div>
                {{item.text}}-----{{index}}
            </div>
            <span>{{item.text}}</span>
        </template> -->

        <!-- 对象做循环 -->
        <div v-for="(item,key,index) of userInfo">
            {{item}}----{{key}}----{{index}}
        </div>
    </div>
    <script>
        //push pop shift unshfit splice sort reverse  这是vue中七种数组变异方法 。还可以使用Vue的set方法来改数组，例Vue.set(vm.userInfo,1,5)。还可以使用实例的set方法，例vm.$set(vm.userInfo,1,5)
        var vm = new Vue({
            el:"#app",
            data: {
                // list: [
                //     {
                //         id:"001230201",
                //         text:"hello"
                //     },
                //     {
                //         id:"001230202",
                //         text:"ke"
                //     },
                //     {
                //         id:"001230203",
                //         text:"nice"
                //     },
                    
                // ]
                //我们改变对象。可以直接修改整个对象。还有一种方法哦，可以使用vue的set方法来，例如Vue.set(vm.UserInfo,"address","beijing")。还可以通过实例方法来用哦，例如vm.$set(vm.userInfo,"address","beijing")。
                userInfo:{
                    name: "ke",
                    age: 22,
                    gender: "male",
                    salary: "secret"
                }
            }
        })
    </script>
</body>
</html>